@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

.banner-home {
  background-image: url(https://wallpapersite.com/images/pages/pic_w/18307.jpg);
  background-size: cover;
  background-position: center;
  padding: 242px 0;
  height: 498px;
  }

.banner .container {
  width: 1200px;
  margin: auto;
  text-align: center;
  }

.banner-home h1 {
    color: white;
    font-size: 55px;
    font-family: 'Poiret One', cursive;
  }

.banner-home p {
  color: white;
  font-size: 15px;
}

#stars {
  color: red;
  font-size: 75px;
}

.btn-primary {
  display: inline-block;
  color: #FFFFFF;
  padding: 16px 36px;
  border-radius: 50px;
  transition: 0.2s;
  margin-top: 18px;
  font-size: 20px;
}

.btn-primary:hover {
  border-color: black;
  background-position: center;
}
