.banner {
  background-image: url(https://wallpapersite.com/images/pages/pic_h/14678.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  }

.container {
  width: 1200px;
  margin: auto;
  }

.banner h1 {
    color: black;
    font-size: 55px;
  }

.banner p {
  color: white;
  font-size: 15px;
}

#mars {
  color: #FFFFFF;
  font-size: 75px;
}

.btn-primary {
  display: inline-block;
  background-image: url(http://images6.fanpop.com/image/photos/38600000/Galaxies-the-universe-38674728-1600-900.jpg);
  color: #FFFFFF;
  padding: 16px 36px;
  border-radius: 50px;
  transition: 0.2s;
  margin-top: 18px;
  font-size: 20px;
}

.btn-primary:hover {
  border-color: black;
  background-position: center;
  background-image: url(http://images6.fanpop.com/image/photos/38600000/Galaxies-the-universe-38674728-1600-900.jpg)
}
