// Specific CSS for your home-page
.row {
  display: flex;
  justify-content: center;
}

a:hover {
  text-decoration: none;
}

@media(max-width: 1700px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }
}
@media(max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}
@media(max-width: 575px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

.container {
  margin-bottom: 48px;
}

.card {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: relative;
  border: 0px;
}

.card-image img {
  height: 180px;
  background-position: center;
  object-fit: cover;
}

.card-text {
  color: black;
  padding-left: 10px;
}
.text-topic {
  opacity: .8;
}
.card-name {
  margin-top: 5px;
}
.card-address {
  margin: 0px;
}
.card-actions a {
  color: white;
}
.card-actions .delete_action a:hover {
  color: red;
}

.card-text {
  padding-left: 10px;
}

.text-topic {
  opacity: .8;
}

.card-name {
  margin-top: 5px;
}

.card-address {
  margin: 0px;
}

.card-actions a {
  color: white;
}

.card-actions .delete_action a:hover {
  color: red;
}
.card-actions {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  padding-top: 7px;
  background-color: #c3c3c3;
  background-color: #c3c3c3;
}

.logohome {
  width: 150px;
}
