#new_user {
  margin-bottom: 100px;
}

.new-form-background {
  background-image: url('https://res.cloudinary.com/flameleviosa/image/upload/v1574854741/70905711-vector-seamless-pattern-with-zodiac-constellation-space-star-pattern-for-paper-textile-polygraphy-t-_afm86b.jpg');
  background-repeat:repeat;
}

.banner h1 {
    color: black;
    font-size: 25px;
    font-family: 'Montserrat';
    text-align: center;
  }

.banner-new {
  padding-top: 50px;
}

.banner h3 {
  text-align: center;
  color: white;
}

.banner p {
  color: black;
  font-size: 15px;
  margin-bottom: 2rem;
}

#stars {
  color: #762ad5;
  font-size: 55px;
  font-weight: bold;

}

.btn-primary {
  display: inline-block;
  color: #FFFFFF;
  padding: 16px 36px;
  border-radius: 50px;
  transition: 0.2s;
  margin-top: 18px;
  font-size: 20px;
}

.btn-primary:hover {
  border-color: black;
  background-position: center;
}

.form-inputs a {
  padding-left: 230px;
}

.logoform {
  // height: 187px;
  width: 100%;
  margin-bottom:10px;
  margin-top:10px;

}
