.image_banner img {
  margin: 0px;
  height: 74vh;
  width: 120vh;
  object-fit: cover;
  border-radius: 5px;
}

.row-show {
  display: flex;
  justify-content: space-between;
}

#edit_header {
  color: white;
  font-size: 55px;
  font-family: 'Montserrat';
  text-align: center;
  padding-top: 50px;
}
