.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-image {
  height: 35px;
  width: 35px;
}

.navbar-nav {
  font-size:12px;
}

.dropdown-item {
  font-size:12px;
}


